<mat-card class="card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ data.userName }}</mat-card-title>
            <mat-card-subtitle>{{ data.email }}</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>{{ data.content }}</mat-card-content>
    <br>
    <mat-card-content><b>{{ data.createdAt }}</b></mat-card-content>
    <br>
    <mat-card-content>
        <span *ngFor="let tag of data.tags"><b>#{{ tag }} </b></span>
    </mat-card-content>
</mat-card>